---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 style="color:white;">
                    There is only one heroism in the world: to see the world as it is and to love it.
                </h3>
                <p style="color:white;"> - Romain Rolland</p>
            </div>
        </div>
    </div>
</section>


<!-- Featured
================================================== -->
<section class="featured-posts">

    <div class="section-title">
        <h2><span>Highlight</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section>



<!-- Before Footer
    ================================================== --> 
<div class="beforefooter" style="background-color: rgb(250, 250, 250);">
    <div class="container">
        <h3 style="color:rgb(41, 41, 41);">“If a man empties his purse into his head, no man can take it away from him. An investment in knowledge always pays the best interest.”</h3>
        <p style="color:rgb(41, 41, 41);"> ― Benjamin Franklin </p>
    </div>
</div>




<!-- Posts Index
================================================== -->
{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2><span>All Works</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">

            {% for post in paginator.posts %}

            {% unless post.featured == true %}

                    {% include postbox.html %}

            {% endunless %}

            {% endfor %}

        </div> 

        <!-- Pagination -->
        <div class="bottompagination">

            <span class="navigation" role="navigation">

                {% include pagination.html %}

            </span>

        </div>

    </div>

</section>

